.CheckIn {
	margin: 2em;
	.Actions {
		text-align: center;
		button {
			margin-left: 1em;
		}
	}
}

.Reset {
	z-index: 4;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	background-color: red;
	opacity: 0;
}