.Manage {
	.Header {
		margin-bottom: 1em;
	}
	.CheckedIn {
		margin: 2em auto;
		.CheckedInVenue {
			margin: 1em 0;
			.VenueName {

			}
			.VenueCheckinCount {
				display: block;
				position: relative;
				width: 100px;
				height: 100px;
				line-height: 100px;
				border-radius: 50px;
				font-size: 3em;
				font-weight: 700;
				text-align: center;
				color: #fff;
				margin: 0 auto;
			}
			.PersonName {
				margin: 0.5em 0 0;
				svg {
					margin: 0 0.5em 0 0;
					vertical-align: middle;
				}
			}
		}
	}
	.Loading {
		margin: 1em auto;
	}
	.CodeFieldset {
		margin: 1em 0;
		text-align: center;
		.Header {
			margin-bottom: 1em;
		}
	}
	.CodeField {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input {
			text-align: center;
		}
		margin: 0 0.5em;
	}
	.VenueDetails {
		margin-bottom: 0.25em;
		h5 {
			border-bottom: 1px solid rgba(224, 224, 224, 1);
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
		}
		.VenueBadge {
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			text-align: center;
			line-height: 100px;
			color: #fff;
			font-size: 2.4em;
			margin: 0 auto;
		}
	}
	.Agreements {
		margin-bottom: 0.25em;
		.ApprovalItem {
			margin-bottom: 1em;
		}
	}
	.MuiFormHelperText-root {
		color: red;
		text-align: center;
	}
	.CheckedIn {
		td {
			color: #fff;
		}
	}
}
