@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.App {
	display: block;
	position: absolute;
	background: #000;
	overflow: hidden;
	color: #fff;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.Kiosk {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-family: "Inter", sans-serif;
	font-size: 3.5vw;
	table {
		width: 100%;
		tr {
			td {
				border-bottom: 2px solid rgba(255, 255, 255, 0.1);
			}
			&:last-child td {
				border-bottom: 0px none;
			}
		}
		td {
			font-weight: 700;
			color: #fff;
			text-align: center;
			vertical-align: middle;
			padding: 1.3vw 3vw;
		}
		.Venue {
			.Main {
				width: 50%;
				.Name {
					margin-bottom: 0.25em;
					text-align: left;
				}
				.Description {
					text-align: left;
					font-size: 0.4em;
					font-weight: 400;
					opacity: 60%;
				}
			}
			.Badge {
				width: 8vw;
				height: 8vw;
				margin: 0 auto;
				text-align: center;
				line-height: 8vw;
				border-radius: 4vw;
			}
		}
	}
}
