.Venues {
	margin-top: 2em;
	.Toolbar {
		background-color: #f5f5f5;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.Title {
		flex: 1 1 100%;
	}
	.Selected {
		background-color: #fafafa;
	}
	.Clickable {
		cursor: pointer;
	}
	.ColorChip {
		display: inline-block;
		vertical-align: baseline;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		margin-right: 1em;
	}
	.Actions {
		text-align: right;
		flex-direction: row-reverse;
	}
}

.Venue {
	.Toolbar {
		background-color: #f5f5f5;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	}
	.Title {
		flex: 1 1 100%;
	}
	.Actions {
		text-align: right;
		flex-direction: row-reverse;
	}
	.GettingStarted {
		.Icon {
			vertical-align: middle;
			margin-right: 0.25em;
		}
		p {
			margin-bottom: 1em;
		}
		h6 {
			margin-bottom: 0.25em;
		}
	}
}
