<html>
<div>
	<h1>Welcome!</h1>
	<p>Your administrator account was created with the following details:</p>
	<ul>
		<li>Name: <%= name %></li>
		<li>Email: <%= email %></li>
	</ul>
	<h2>How to Log In to Your Account</h2>
	<p>If you completed the on-boarding process, you can get started by clicking the link below:</p>
	<ul>
		<li><a href="<%= url %>"><%= url %></a></li>
	</ul>
	<p>If you were responsible for creating your own account, you should have selected and saved a password to use
		during login. However, if your account was created for you, you may need to use the "Forgot password?" option to
		create a reset link to log in.</p>
	<p>We're excited for you to be part of this service and would love to hear your comments and suggestions. Please
		visit our website and select the contact option to pass along your feedback.</p>
</div>

</html>