<html>
<div>
	<h1>Your group was deleted.</h1>
	<p>Per your request, your group was deleted and any information not already shared with an organization completely
		removed.</p>
	<p>Please note that if you have already checked into an event using this system, your name, phone number, and email
		are stored permanently with your check-in record, as explained when your group was originally created.</p>
	<p>If you would like to create a new group, please visit:</p>
	<ul>
		<li><a href="<%= url %>"><%= url %></a></li>
	</ul>
</div>

</html>