.Manage {
	.Header {
		margin-bottom: 1em;
	}
	.CodeFieldset {
		margin: 1em 0;
		text-align: center;
		.Header {
			margin-bottom: 1em;
		}
	}
	.CodeField {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input {
			text-align: center;
		}
		margin: 0 0.5em;
	}
	.MuiFormHelperText-root {
		color: red;
		text-align: center;
	}
	.CheckedIn {
		td {
			color: #fff;
		}
	}
}
