.GroupEditor {
	.Header {
		margin-bottom: 1em;
	}
	.PINFieldset {
		margin: 1em 0;
		text-align: center;
		h6 {margin-bottom: 1em;}
	}
	.PINField {
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		margin: 0 0.5em;
	}
}
